<h2>Accomodation Index</h2>

<% @accomodations.each do |a| %>

  <div class="data-item">
    <img class="data-item-img" src="<%= a.image %>" alt="">
    <div class="data-item-name">
      <%= link_to a.name, accomodation_path(a) %>
    </div>

  </div>



<% end %>
