/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */



*{
  box-sizing: border-box;
}

.travel-dates{
  font-size: 14px;
  color: grey;
}

.trip-users{
  float:right;
}

.users-list{
  float:left;
}

.uicon-sm{
  width: 40px;
}


.page-content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.background-image{
  position: fixed;
  margin: 0;
  z-index: 1;

  display: block;
  background-image: url("https://68.media.tumblr.com/3bfcb618b8be9f542dc72a18503420ca/tumblr_oq1oos701Q1vaumflo1_500.gif");
  background-size: cover;

  width: 100%;
  height: 100%;

  /*-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);*/
}

#travel-panda{
  width: 60px;
  height: 60px;
}

.navbar{
  width: 100%;
  height:60px;
  line-height: 60px;
  font-size: 14px;
}

.user-avatar{
  float:right;
}

.navbar .logo{
  font-size: 16px;
}

.navbar *{
  display: inline-block;
}

.navbar a{

}

img{
  max-width: 300px;
}


.trip-users{
  display: inline-block;
  list-style-type: none;
}

.data-item *{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.data-item-img{
  max-width: 100px;
}

.data-item-name{
  margin-left: 5px;
}

.data-item-links{
  display: block;
  margin-top: 10px;
}




footer {
    background-color: teal;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;
    color: white;
    text-align: center;
    line-height: 40px;
}





/*dead space needed*/
