<h2>Places Index</h2>

<% @places.each do |place| %>

  <div class="data-item">
    <img class="data-item-img" src="<%= place.image %>" alt="">
    <div class="data-item-name">
      <%= link_to place.name, place_path(place) %>
    </div>

  </div>



<% end %>
