<h2>Places Index</h2>

<% @places.each do |p| %>

  <div class="place">
    <img class="place_img" src="<%= p.image %>" alt="">
    <p>
      <%= link_to p.name, place_path(p) %>
    </p>
  </div>



<% end %>
